<EditForm class="w-full space-y-2 py-2 px-2"  OnValidSubmit=@Save Model=@_model>
        <DataAnnotationsValidator  />
        <ValidationSummary/>
        <RadzenDropDown class=" w-full" @bind-Value=@_model.SelectedGrantName Change=@(e => OnGrantSelected(e.ToString() ?? string.Empty)) Data=@_grantNames Placeholder="Grant"/>
        @if(_model.SelectedGrantName == "Autres")
        {
            <RadzenTextBox  class=" w-full" @bind-Value=@_model.GrantNumber Placeholder="Numéro du grant"/>
            <RadzenTextBox  class=" w-full" @bind-Value=@_model.GrantTitle Placeholder="Titre du grant"/>
            <RadzenTextBox  class=" w-full" @bind-Value=@_model.GrantSummary Placeholder="Resumé du grant"/>
            <RadzenTextBox  class=" w-full" @bind-Value=@_model.GrantStatus Placeholder="Statut du grant"/>
            <RadzenAutoComplete class=" w-full" @bind-Value=@_model.SelectedRegion Data=@_regions TextProperty="Name" Placeholder="Region"  />
            <RadzenAutoComplete class="w-full" @bind-Value=@_model.SelectedServiceType Data=@_servcieTypes TextProperty="Name" Placeholder="Service Type"/>
            <RadzenAutoComplete class="w-full" @bind-Value=@_model.SelectedObjectif Data=@_objectifs TextProperty="Description" Placeholder="Objectif"/>
        }
        <div class="w-full grid grid-cols-2 gap-1">
            <RadzenNumeric class="w-full" @bind-Value=@_model.BenefHomme Placeholder="Benef. Homme moins de 35 ans"/>
            <RadzenNumeric class="w-full" @bind-Value=@_model.BenefFemme Placeholder="Benef. Femme moins de 35 ans"/>
        </div>
        <div class="w-full grid grid-cols-2 gap-1">
            <RadzenNumeric class="w-full" @bind-Value=@_model.BenefHommePlus35 Placeholder="Benef. Homme plus de 35 ans"/>
            <RadzenNumeric class="w-full" @bind-Value=@_model.BenefFemmePlus35 Placeholder="Benef. Femme plus de 35 ans"/>
        </div>

        <div class="py-2">
            <RadzenButton class="m-1 px-2" type="submit" IsBusy=@_isBusy Icon="save" Text="Enregistrer" ButtonStyle="ButtonStyle.Secondary" />
         @if (IsNew())
        {
            <RadzenButton class="m-1 px-2" Click=@(_ => Cancel(false)) Icon="close"  Text="Annuler" ButtonStyle="ButtonStyle.Light" />
        }
        else
        {
            <RadzenButton class="m-1 px-2"  Icon="delete" Text="Supprimer" ButtonStyle="ButtonStyle.Danger" />
        }
        </div>
</EditForm>
<RadzenButton Click=@NaviguerALAcceuil>Retourner à acceuil</RadzenButton>
